.idea
postgres_data

# Ignorer les dossiers "node_modules"
**/node_modules/

# Ignorer les dossiers "target"
**/target/

# Ignorer les fichiers JAR
**/*.jar

# Ignorer le dossier ".angular"
**/.angular/

# Ignorer les dossiers "dist"
**/dist/


